body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  max-width: 1440px;
  /* max-width for optimal desktop exp. */
}

h1,
h2 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;

  &:hover {
    text-decoration: underline;
  }
}

/* HEADER START */

header {
  border-bottom: 1px solid #ccc;
  padding: 2rem 0px;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;


  nav {
    display: flex;
    gap: 2rem;

    .diamond {
      color: #707070;
      font-size: 11px;
      margin-top: 3px;
    }
  }

  nav#right {

    /* Search icon */
    a:last-child {
      margin-left: 3rem;
    }
  }
}

/* HEADER END */
/* CONTENT START  */


.hero {
  background-image: url("/assets/img/bg-pattern.jpg");
  padding: 5rem 0 0 5rem;
  display: flex;



  .hero-left {



    .date-author {
      color: #707070;
      font-weight: bold;
    }

    .desc {
      margin-left: -5rem;
      margin-top: 3rem;
      align-self: flex-start;
    }
  }

  .hero-right {
    width: 65%;

    img {
      width: 100%;
      min-width: 700px
    }
  }

  h1,
  h4 {
    font-family: 'Merriweather', serif;
  }

  h1 {
    font-size: 4rem;
    width: 12ch;
    font-weight: 100;
    letter-spacing: -3px;
  }

}