$sans: 'Raleway',
sans-serif;
$serif: 'Merriweather',
serif;

body {
  padding: 0;
  margin: 0 auto;
  font-family: $sans;
  font-weight: bold;
  max-width: 1440px;
  /* max-width for optimal desktop exp. */
}

h1,
h2 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;

  &:hover {
    text-decoration: underline;
  }
}

.material-icons:hover {
  color: #000;
  cursor: pointer;
}


/* HEADER START */

header {
  border-bottom: 1px solid #ccc;
  padding: 2rem 0px;
  font-weight: bold;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  nav {
    display: flex;
    gap: 2rem;

    .diamond {
      color: #707070;
      font-size: 11px;
      margin-top: 3px;
      user-select: none;
    }
  }

  nav#right {
    align-items: center;

    /* Search icon */
    span:last-child {
      margin-left: 3rem;
      font-size: 24px;
    }
  }
}

/* HEADER END */


/***************************/


/* CONTENT START  */

.hero {
  background-image: url("/assets/img/bg-pattern.jpg");
  padding: 5rem 0 0 5rem;
  height: 600px;
  display: flex;

  .hero-left {

    .hero-left-text {

      h1,
      h4 {
        font-family: $serif;
      }

      h1 {
        font-size: 4rem;
        width: 12ch;
        font-weight: 100;
        letter-spacing: -3px;

      }

      .date-author {
        color: #707070;
        font-weight: bold;
        margin-top: 1rem;

        a {
          color: inherit;
        }
      }
    }

    .hero-left-desc {
      margin-left: -5rem;
      margin-top: 6rem;
      flex-direction: column;
      color: #707070;
      width: 335px;

      .hero-left-desc-text {
        margin-left: 6rem;

        div {
          width: 25ch;
          padding: 0.75rem 0;
        }

        .add {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-top: 1px solid #707070;
          border-bottom: 1px solid #707070;
        }

        .share {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

      }
    }
  }

  .hero-right {
    width: 65%;

    img {
      width: 100%;
    }
  }

}

/* MAIN */

main {
  font-size: 1.25rem;
  font-family: $serif;
  font-weight: normal;
  width: 780px;
  margin: 180px auto;
  line-height: 2rem;

  p {
    margin: 2rem auto;
    padding: 0 4rem;
  }

  p.dropcap:first-letter {
    float: left;
    font-size: 75px;
    line-height: 65px;
    padding: 5px 12px 0 0;
  }

  img.full {
    width: 100%;
    transition-property: all;
    transition-duration: 250ms;

    &:hover {
      box-shadow: 0 0 15px #ccc;
      transform: scale(1.02);
    }
  }

  .info {
    font-size: 1rem;
    margin: 2rem 0;
    padding: 2.5rem 2rem;
    background: #707070 url("/assets/img/bg-pattern.jpg");

    .title {
      font-weight: bold;

    }
  }
}


footer {
  background: #262626;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 4rem;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      font-weight: 500;
      padding-bottom: 1rem;
    }

    li:first-child {
      font-weight: 900;
      padding-bottom: 1.5rem;
    }

    &:last-child {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-content: center;
      height: 100%;
      margin: auto 0;

      li {
        padding: 1rem;
      }
    }
  }
}